[Desktop Entry]
Version=1.0
Icon=applications-games
Exec=/usr/bin/batocera-config-freej2me
Terminal=false
Type=Application
Categories=Game;batocera.linux;
Name=FreeJ2ME
GenericName=J2ME Emulator
Comment=Run J2ME games with the standalone FreeJ2ME frontend
