[Desktop Entry]
Version=1.0
Icon=/usr/share/icons/batocera/gopher64.png
Exec=/usr/bin/batocera-config-gopher64
Terminal=false
Type=Application
Categories=Game;batocera.linux;
Name=gopher64-config
